<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<h3>회원가입</h3>
	<input type="text" id="uiId" placeholder="아이디"><br>
	<input type="password" id="uiPwd" placeholder="비번"><br>
	<input type="text" id="uiName" placeholder="이름"><br>
	<input type="text" id="uiMobile" placeholder="전번"><br>
	<input type="text" id="uiEmail" placeholder="이메일"><br>
	<input type="text" id="uiBirth" placeholder="생년월일"><br>
	<button type="button" onclick="join()">회원가입</button>
	
	<script>
		async function join(){
			const data = {
				uiId : document.querySelector('#uiId').value,
				uiPwd : document.querySelector('#uiPwd').value,
				uiName : document.querySelector('#uiName').value,
				uiMobile : document.querySelector('#uiMobile').value,
				uiEmail : document.querySelector('#uiEmail').value,
				uiBirth : document.querySelector('#uiBirth').value
			}
			const res = await fetch('/join',{
                method:'POST',
                body : JSON.stringify(data),
                headers:{
                    'Content-Type':'application/json;charset=UTF-8'
                }
            })
            const user = await res.json();
            if(user && user.uiId){
				alert(`${user.uiName}님 로그인을 해주세요`);
				location.href='/html/login';
			}
		}
	</script>