<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace ="com.sp.file.mapper.GoodsInfoMapper">
<insert id ="insertGoodsInfo" useGeneratedKeys="true" keyColumn="GI_NUM" keyProperty="giNum">
	INSERT GOODS_INFO(GI_NAME ,GI_DESC)
	VALUES(#{giName},#{giDesc})
</insert>
<select id="selectGoodsInfos">
	SELECT GI_NUM ,GI_NAME,GI_DESC
	FROM GOODS_INFO
</select>
<select id="selectGoodsInfo">
	SELECT GI_NUM ,GI_NAME,GI_DESC
	FROM GOODS_INFO
	WHERE GI_NUM = #{giNum}
	</select>
	<update id="updateGoodsInfo">
	UPDATE GOODS_INFO
	SET GI_NAME = #{giName},
	GI_DESC = #{giDesc}
	WHERE GI_NUM = #{giNum}
	
	</update>
</mapper>