<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sp.file.mapper.RoleInfoMapper">
 <select id ="selectUserInfoByUiNum" resultType ="com.sp.file.vo.RoleInfoVO">
	SELECT * FROM LOGIN_ROLE_MAP LRM
	INNER JOIN ROLE_INFO RI ON RI.RI_NUM =LRM.RI_NUM
	WHERE UI_NUM=#{uiNum}
		
 </select>

</mapper>