<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sp.file.mapper.UserInfoMapper">
 <select id ="selectUserInfoById" resultType ="com.sp.file.vo.UserInfoVO">
	SELECT * FROM USER_INFO
	WHERE UI_ID = #{uiId}
 </select>
 <insert id="insertUserInfo"  parameterType="com.sp.file.vo.UserInfoVO">
	INSERT INTO USER_INFO(UI_NAME, UI_ID, UI_PWD, UI_MOBILE,UI_EMAIL, UI_BIRTH ,UI_ROLES)
	VALUES(	#{uiName}, #{uiId}, #{uiPwd}, #{uiMobile},#{uiEmail}, #{uiBirth} ,#{uiRoles})
	</insert>
</mapper>